/** Element Selectors **/
h1 {
  color: red;
  font-size: 48px;
}

img {
  height: 130px;
}

img:hover {
  background-color: black;
}

/** Class Selectors **/
.bacon {
  background-color: green;
}

.brocolli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/** ID Selectors [NOT RECOMMENDED see linter] **/
#heading {
  color: blue;
}

#heading:hover {
  color: red;
  font-size: 80px;
}
